/*lien et surbrillance*/

.body{
    font-family: 'raleway', sans-serif;
}

.fas{
    color:blue;
}
nav ul{
    list-style-type:none;
      
}

nav li{
    list-style-type:none;
    
}

.a:hover{
    text-decoration:underline;
    color:#0065FC;
}

/*header*/

.logo{
        width:150px;
        height: 90px;
        margin-left:50px;
    }

.header{
    align-content:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right: 50px;

    }

.location{
    display:inline-block;
    width:100px;
    border-radius:10px;
}

.activités{
    display:inline-block;
    width:70px;
    border-radius:10px;
}

.inscription{
    display:inline-block;
    width:50px;
    border-radius:10px;
}

/*recherche*/

.tête{
    margin-left:50px;
}

.searchFromSubmitinput{
    border-top-right-radius:2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-color:blue;
    background-color: blue;
    color: white;
    cursor:pointer;

}

#marker{
    color:black;
}

.iconSize{
    display:inline-block;
    height: 20px;
    width: 30px;
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    border-bottom-color:#f2f2f2;
    background-color:#f2f2f2;
    align-content: center;
}

.search{
    display:inline-block;
    height: 50px;
    width: 150px;
    font-size: 19px;
    border-color:white;
    font-weight: bold;
    
}

.bordureSearch {
    display:inline-block;
    width: 20px;
    border-radius:20px;
}
.filtres{
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    cursor:pointer;
    margin-left:50px;
}

.economique{
    display:flex;
    align-items: center; 
    margin-left:100px;
    justify-content: center;
    border-radius:2rem;
    border-top-color:#f2f2f2;
    border-bottom-color:#f2f2f2;
    border-style:solid;
    border-right-color:#f2f2f2;
    border-left-color:#f2f2f2;
    background-color:#deebff;
    width:50px;
    height: 50px;
}

.bouton_economiqueinput{
    display:row;
    margin-left:0px;
    border-left:transparent;
    border-top: #f2f2f2;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-color:#f2f2f2;
    border-bottom-color: #f2f2f2;
    border-right-color: #f2f2f2;
    background-color:#deebff;
    cursor: pointer;
    font-weight: bolder;
    
    
}

.famille{
    display:flex;
    align-items: center; 
    margin-left:100px;
    justify-content: center;
    border-radius:2rem;
    border-top-color:#f2f2f2;
    border-bottom-color:#f2f2f2;
    border-right-color:#f2f2f2;
    border-left-color:#f2f2f2;
    background-color:#DEEBFF;
    border-style:solid;
    width:50px;
    height: 50px;
}

.bouton_familleinput{
    display:row;
    margin-left:0px;
    border-left:transparent;
    border-top: #f2f2f2;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-color:#f2f2f2;
    border-bottom-color: #f2f2f2;
    border-right-color: #f2f2f2;
    background-color:#DEEBFF;
    cursor: pointer;
    font-weight: bolder;
}

.heart{
    display:flex;
    align-items: center; 
    margin-left:100px;
    justify-content: center;
    border-radius:2rem;
    border-top-color:#f2f2f2;
    border-bottom-color:#f2f2f2;
    border-right-color:#f2f2f2;
    border-left-color:#f2f2f2;
    background-color:#DEEBFF;
    border-style:solid;
    width:50px;
    height: 50px;
}

.bouton_romantiqueinput{
    display:row;
    margin-left:0px;
    border-left:transparent;
    border-top: #f2f2f2;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-color:#f2f2f2;
    border-bottom-color: #f2f2f2;
    border-right-color: #f2f2f2;
    background-color:#deebff;
    cursor: pointer;
    font-weight: bolder;
    
}

.dog{
    display:flex; 
    align-items: center; 
    margin-left:100px;
    justify-content: center;
    border-radius:2rem;
    border-top-color:#f2f2f2;
    border-bottom-color:#f2f2f2;
    border-right-color:#f2f2f2;
    border-left-color:#f2f2f2;
    background-color:#DEEBFF;
    border-style:solid;
    width:50px;
    height: 50px;
}

.bouton_animauxinput{
    display:row;
    margin-left:0px;
    border-left:transparent;
    border-top: #f2f2f2;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-color:#f2f2f2;
    border-bottom-color: #f2f2f2;
    border-right-color: #f2f2f2;
    background-color:#deebff;
    cursor: pointer;
    font-weight: bolder;
   
}

.logements{
    margin-left:50px;
    line-height: 100%;
}


  /*principal*/

#sign{
    color:black;
}

.checked {
    color:blue;
}

#location{
    margin-left:50px;
    grid-template-columns: 70px 50px;
    display:grid;
    column-gap: 3rem;
    row-gap: 3rem;
    background-color:#f2f2f2;
    border-radius:2rem;
    padding:2rem;
}

.hebergement{
    grid-template-column:repeat(3,1 fr);

    
    
    
}
    /*
    display:inline-block;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:space-between;
    height:auto;
    border-radius:2rem;
    border-style: solid;
    border-color:#f2f2f2;
    box-shadow:#f2f2f2;
    box-sizing:content-box;
    line-height: 50%;
    float:left;
    
*/
.child1{
   
    display:inline-block;
    box-shadow:#f2f2f2;
    border-color:inherit;
    width: 100%; 
    text-align: justify;
    
}
        
.image{
    border-style:none;

    
    
}
.child_text{
    display:flex;
    flex-direction:column;
    text-decoration-color:black
}
.child_stars{
    display:flex;
    align-items:flex-start;
}

/*populaire*/

.populaires{
    margin-right: 50px;
    float:right;
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);  

/*
    display:inline-block;
    flex:wrap;
    justify-content:space-between;
    border:2px solid #f2f2f2;
    margin-left: 1200px;
    margin-right: 50px;
    border-radius:2rem;
    margin-top:100px;
    */
}

#line{
    color:black;
    display:inline-block;
}


/*activités*/

.sortie{
    display:inline-flex;
       
}

.picturesactivity{
    display:grid;
    row-gap: 3rem;
    column-gap: 3rem;
    
    /*
    display:inline-flex;
    margin-block:5px;
    border-image-width: 1rem;
    float:inline-start;
    margin: 1rem 2rem 1rem 0;
    border-radius:2rem;
    
}

.child10{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%; 
}

.child11{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%; 
}

.child12{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%; 
}

.child13{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%;
 }

.child14{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%; 
}

.child15{
    display:flex;
    flex-direction: column;
    box-shadow:#f2f2f2;
    border-radius:2rem;
    box-sizing: content-box;
    overflow:hidden;
    padding: 5px;
    width: 20%; 
}
*/

/*footer*/


.propos{
    display:inline-block;
    width:400px;
    text-align:left;
    
}

.charte{
    display:inline-block;
    width:400px;
    text-align: left;
    
}

.assistance{
    display:inline-block;
    width:400px;
    text-align: left;
    
}